cffi==1.6.0
cryptography==1.4
ecdsa==0.13
idna==2.1
iso8601
manuale==1.0.2
paramiko==2.0.1
py-postgresql==1.1.0
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pyOpenSSL==16.0.0
requests==2.10.0
six==1.10.0
